<!DOCTYPE html>
<html lang="zh">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="爱情">
  <meta name="author" content="machunjun&maxiaona">

  <title>love</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/startbootstrap-clean-blog-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../static/startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css" rel="stylesheet">

   <!-- time line -->

    <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" media="all" rel="stylesheet">
    <link href="../static/timeline/css/styles.css" media="all" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Pony Station</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin">Administer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/startbootstrap-clean-blog-gh-pages/img/holding-hands.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Let it be me</h1>
            <span class="subheading">M&M</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
      <div class="row">
<div class="timeline animated">

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2019</small>12月27日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-heart"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">
             <h2>
              加了微信
            </h2>

            <img class="img-responsive" src="../static/timeline/picture/1227.jpg" height="300" width="475" />

            <p>
              哈哈哈哈哈，一开始就好沙雕
            </p>

          </div>

        </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月3日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-heart"></i>

          </div>

        </div>

        <div class="panel timeline-content">

            <div class="panel-body">

                <h2>
                    第一次聊天到凌晨
                </h2>

                <p>
                    每天都聊了好多，但聊了啥都快忘了，反正很快乐就是了！但是我知道了你会弹钢琴、会做饭、善解人意，我心想真是个宝藏女孩啊！对了晚睡对身体不好，以后得改。
                </p>

            </div>

        </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月5日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-heart"></i>

          </div>

        </div>

          <div class="panel timeline-content">

              <div class="panel-body">

                  <h2>第一次见面</h2>

                  <p>
                      也是我第一次独自开车,那天还下着点小雨，你比照片上漂亮多了。当时太紧张了，生怕把车开了撞到，全程注意都在车上。谁能想到，我第一次自己开车载得就是未来的女朋友呢！
                  </p>

                  <small>mach</small>
              </div>

          </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月6日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-heart"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">

            <h2>
              发烧了
            </h2>

            <p>
              虽然我知道你很难受，当时还有点后悔，早知道就不让你吹到风了；但是我心里却想着，终于有机会增进一下感情了！而且脸蛋红扑扑的，可爱死了！
            </p>

          </div>

        </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月12日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-heart"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">

            <h2>
              表白成功
            </h2>

            <p>
                <img class="img-responsive justify-content-center" src="../static/timeline/picture/0112.jpg" height="170" width="475" />
                当时很甜，至于到底有多甜，大概只有我自己知道吧
            </p>

          </div>

        </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月18日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-quote-right"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">

            <blockquote>

              <p>

                我相信，爱情绝对是一个寻找自我的过程。在马斯洛的需求五层次中，人生最高层次的需求就是自我实现，爱情当然是找到了自我，实现了自我，是为自己的灵魂找到了一个伴侣。如果你找到了一个人，但为了和他相处，必须改变自我、压抑自我，或者委屈自我，那肯定不是爱情，不会幸福。

              </p>

              <small>王小波</small></blockquote>

          </div>

        </div>

      </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月18日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-quote-left"></i>

          </div>

        </div>

        <div class="panel timeline-content">

            <div class="panel-body">

                <blockquote>

                    <p>

                        还有我。我是爱你的，看见就爱上了。我爱你爱到不自私的地步。就像一个人手里一只鸽子飞走了，他从心里祝福那鸽子的飞翔。你也飞吧。我会难过，也会高兴，到底会怎么样我也不知道。

                    </p>

                    <small>王小波</small></blockquote>

            </div>

        </div>

        </div>

      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月18日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-pencil"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">

            <h2>

              关于未来

            </h2>

            <p>

              这个网站现在功能还不完善，好多地方都没写，我文笔也不好，审美水平也有待提高，但是网站初步的构想已经实现。希望我们以后能有更多的幸福瞬间去记录，不，一定会有

            </p>

          </div>

        </div>

      </div>
      <div class="timeline-row">

        <div class="timeline-time">

          <small>2020</small>1月23日

        </div>

        <div class="timeline-icon">

          <div class="bg-danger">

            <i class="fa fa-birthday-cake"></i>

          </div>

        </div>

        <div class="panel timeline-content">

          <div class="panel-body">

            <h2>

              娜娜的生日

            </h2>

            <p>

                提前祝你生日快乐,祝愿你在未来的日子都开开心心，幸福美满,又美丽，又可爱，又沙雕！<br><small>PS：很买了个暖宝宝给你，现在想想感觉这礼物好奇怪,哈哈哈哈</small>

            </p>

          </div>

        </div>

      </div>
      <div class="timeline-row">

        <div class="timeline-time">

            <small>9999</small>9月9日

        </div>

        <div class="timeline-icon">

            <div class="bg-danger">

                <i class="fa fa-heart"></i>

            </div>

        </div>

        <div class="panel timeline-content">

            <div class="panel-body">

                <h2>
                    More sweet moment
                </h2>

                <p>
                    continue
                </p>

            </div>

        </div>

    </div>
    </div>
      </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://weibo.com/u/6888048928">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-qq fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; 马春俊和马晓娜の恋爱记录</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js"></script>
  <script src="../static/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js"></script>

  <!-- time line -->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script src="../static/timeline/js/main.js"></script>


</body>

</html>
